body{
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
button{
    background-color: #fff;
    width:fit-content;
    outline-offset: none;
    padding: 1em 2em;
    border: 1px solid black;
}
footer button{
    background-color: #F4F4F4;
}
p{
    text-align:center;
}
/* BANNER */
.head-img{
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("/public/images/banner.jpg");
    width: 100%;
    height: 38em;
    overflow: hidden;
    z-index: 1;
}
.head-img::before{
    content: '';
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.309);
    z-index: -1;
}
.head-img p{
    width: fit-content;
    border-top: 1px solid white;
    padding: 1em;
}
.head-img h1,.head-img p{
    display: inline;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    color: white;
}
/* MAIN */
main{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.section1, .card{
    background-color: FFFFFF;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    padding: 3em 15em;
    margin: 3em 0;
}
.fas.fa-gem{
    font-size: xx-large;
}
section .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #FFFFFF;
    padding-bottom: 3rem;
}
.card .img {
    position: relative;
    width: 100%;
    height: 15em;
    z-index: 1;
    overflow: hidden;
}
.card > .img::before{
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 15em;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.338);
}
.img h2{
    height: 100%;
    padding-top: 7rem;
    margin: auto auto;
    color: white;
}

.card:nth-child(1) .img{
    background: url("/public/images/pic01.jpg");
    background-size: 100%;
}
.card:nth-child(2) .img{
    background: url("/public/images/pic02.jpg");
    background-size: 100%;
}
.card:nth-child(3) .img{
    background: url("/public/images/pic03.jpg");
    background-size: 100%;
}
.card:nth-child(4) .img{
    background: url("/public/images/pic04.jpg");
    background-size: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer >div{
    margin: 3em;
}
.description{
    padding: 0 3rem;
}
hr{
    margin: 5em;
    width: 5%;
}
.social-media{
    margin: 3em 0;
}
.deco{
    border-bottom-style: dotted;
}